

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div> 
       <h2>消息</h2>
        <dl>
            <dt>标题</dt>
            <dd>@ViewBag.Title</dd>
            <dt>内容</dt>
            <dd>@ViewBag.Msg</dd>
        </dl>
    </div>
</body>
</html>
